i.mce-i-icon:before {
    font: normal 21px/1 dashicons;
    content: "\f161";
    padding: 0;
    vertical-align: top;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: -2px;
    padding-right: 2px;
}
